*{
      margin: auto;
}
body{
      width: 100vw;

}

table, th, td {
      
      border: 1px solid;
      border-collapse: collapse ;
}

.header{
      margin: auto;
      width: 60vw;
      font-size: 22px;
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 20px;

}

.headerImg {
      
      height: 100px;
}

.book-img{
      height: 150px
}

.read-book-btn{
background-color: rgb(94, 94, 236);
}

.update-book-btn{
background-color: rgb(235, 235, 110);
}

.delete-book-btn{
background-color: rgb(247, 122, 122);
}

.book-btn{
      cursor: pointer;
}
.book-btn:hover{
filter: brightness(75%);
}

.user-msg {
	position: fixed;
	bottom: -100px;
	right: 10px;

	background-color: #111;
	padding: 10px;
    transition: bottom 0.5s;
}

.user-msg.open {
	bottom: 10px;
}
